@charset "UTF-8";

.ui-dialog-titlebar {
    background: #bbd0b0;
	color: #338052;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	text-transform: uppercase;
}

.ui-dialog-buttonpane {
    background: #bbd0b0;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}
.ui-dialog {
	background: #bbd0b0;
    border-radius: 0px;
	border-bottom: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

.ui-button-text {
    background: #338052;
	color: white;
}

.ui-icon {
/* 	background: black; */
}