@CHARSET "UTF-8";

form > table {
	width: 50%;
/* 	margin: -38px -13px 0px; */
	border-collapse: collapse;
}

form > table > tbody > tr {
	text-align: center;
	height: 30px;
}

form > table > tbody > tr > td > input {
	width: 180px;
	height: 20px;
	background: #d3e0c7;
}

form > table > tbody > tr > td > textarea {
	width: 180px;
	background: #d3e0c7;
}

form > table > tbody > tr > td > label.error {
	color: red;
}