@CHARSET "UTF-8";
* 
* * {
/*     outline: none; */
}
body{
	background-color:#e3ebd3;
	margin:0px;
}

header{
	background-color: green;
	width: 230px;
	height: 249px;
	margin: 0 auto;
	top: 100px;
	position: relative;
	background: url(../image/login/logintaxi.png) no-repeat;
}

section{
/* 	background-color:yellow; */
	width: 906px;
	height: 210px;
	margin: 100px auto 0;
}
article{
/* 	background-color:red; */
	width: 190px;
	height: 200px;
	margin: 120px auto 0;
}

input.input-text{
	width:184px;
	background-color: #e8eed7;
	margin-bottom: 20px;
	height: 32px;
	font-size: 16px;
	border: 2px solid #338052;
}

button#submit{
	color: #338052;
	font-weight: bold;
	border: 2px solid #338052;
}

button#submit:hover{
	cursor: pointer;
}

form > button{
	background-color: #c6e4d4;
	width: 190px;
	height: 36px;
}

form > button:hover {
	background-color:#e4f8ed;
}

a.button {
	display:inline-block;
	background-color:#338052;
	font-size: 16px;
	text-decoration: none;
	height: 23px;
	width: 184px;
	color: white;
	text-align: center;
	margin: 20px auto;
	padding: 3px ;
	
	
/* 	border */
}a.button:hover {
	background-color:#338582;
}

::-webkit-input-placeholder {
	color: #338052;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
	color: #338052;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #338052;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

:-ms-input-placeholder {
	color: #338052;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

ul.errorlist {
	margin:-20px -24px 10px;
	color: red;
}

label#errors {
	color: red;
}