div.pagination {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
	text-align: center;
	position: relative;
	display: inline-block;
	margin-bottom: 3px;
	color: #557287;
	vertical-align: middle;
}

div.pagination div.center a {
	border-left: 1px solid transparent;
	padding: 0 7px;
	color:#557287;
	text-decoration: none;
}
div.pagination div.center a.page + a.page {
	border-left: 1px solid #B2C6D1;
}

div.pagination div.center a.previous,
div.pagination div.center a.next{
	background-repeat: no-repeat;
	border: none;
}


div.pagination div.center a.previous {
	padding-left: 17px;
	margin-left:3px;
	background-image: url('../image/pager_previous.png');
	background-position: left center;
}

div.pagination div.center a.next {
	padding-right: 17px;
	margin-right:3px;
	background-image: url('../image/pager_next.png');
	background-position: right center;
}

div.pagination div.center a.active {
	background-color: #ffffff;
	color: #375266;
}

div.pagination div.center a.loading {
}

div.pagination div.center a:hover {
	color: #375266;
}

div.pagination div.center a.skip {
	height: 3px;
	padding: 0px 5px 0px 5px;
	background-repeat: no-repeat;
	background-image: url('../image/pager_skip.png');
	background-position: center;
	cursor: default;
}

div.pagination div.center{
	height: 24px;
	line-height: 24px;
	background-image: url('../image/pager_background.png');
}

div.pagination .left,
div.pagination .right {
	height: 24px;
	width: 4px;
	top:0px;
	background-repeat: no-repeat;
	position: absolute;
}

div.pagination .left {
	background-image: url('../image/pager_left.png');
	left:-4px;
}

div.pagination .right {
	background-image: url('../image/pager_right.png');
	right:-4px;
}

div.pagination .information {
	padding-top:5px;
	color: #7E95A4;
	text-align: center;
}
	
div.pagination a.disabled {
	opacity: 0.25;
	cursor: default;
}